<a href="https://colab.research.google.com/github/sakamoto-hands-on/Python_InteractiveComputing_and_Visualization/blob/master/Creating_IPython_CustomMagicCommands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from IPython.core.magic import(register_line_magic, register_cell_magic)

In [0]:
@register_line_magic
def hello(line):
  if line=='french':
    print("Salut tout le monde!")
  else:
    print("Hello world!")

In [3]:
%hello

Hello world!

In [5]:
%hello french

Salut tout le monde!

In [0]:
import pandas as pd
from io import StringIO

In [0]:
@register_cell_magic
def csv(line, cell):
  sio = StringIO(cell)
  return pd.read_csv(sio)

In [10]:
%%csv
  col1,col2,col3
  0,1,2
  3,4,5
  7,8,9

     col1  col2  col3
0       0     1     2
1       3     4     5
2       7     8     9

In [14]:
df = _
df.describe()

           col1      col2      col3
count  8.000000  8.000000  8.000000
mean   3.293152  4.043152  4.793152
std    2.102231  2.157527  2.306305
min    0.000000  1.000000  2.000000
25%    2.625000  2.875000  3.375000
50%    3.166667  3.755942  4.255942
75%    3.883913  4.750000  5.750000
max    7.000000  8.000000  9.000000